footer {
    height: 56px; 
    background-color: var(--color-text-secundary);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer p {
    color: var(--color-text-primary);
    font-weight: 700;
    margin-top: 30px;
}