.input {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-primary);
}

.container-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-input);
    width: 500px;
    height: 50px;
    border-radius: 4px;
    margin-top: 30px;
}

.container-input button {
    background-color: var(--color-text-secundary);
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-text-primary);
    cursor: pointer;
    border-radius: 4px;
}

input {
    padding-right: 30px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline:  none;
}

.search-icon {
    color: var(--color-text-primary);
    cursor: pointer;
    font-size: 20px;
}

input::placeholder {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    padding-right: 10px;
}

@media screen and (max-width: 767px){
    .container-input {
        width: 300px;
        height: 50px;
    }
} 