* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --background-color: #1c1917;
  --background-input: #d1d5db;
  --color-text-primary: #fff;
  --color-text-secundary: #000;
}


body {
  background-color: var(--color-text-primary);
}